- packet.add_js("yoxview/yoxview-init.js", :module => "_flickr_")
%script
  $(document).ready(function(){ $("#flickr_gallery").yoxview({ dataUrl: "#{resource.gallery_url}", dataSourceOptions: {"imageSize": "large"}})});
#flickr_gallery= '&nbsp;'