- packet.add_js("yoxview/yoxview-init.js", :module => "_flickr_")
- gallery = resource.photosets.select{|set| set.id == packet["route.resource_id"]}.first
%h2 Showing #{gallery.title}
%script
  $(document).ready(function(){ $("#flickr_gallery").yoxview({ dataUrl: "#{resource.gallery + gallery.id}"})});
#flickr_gallery= '&nbsp;'